.techs {
    margin: 144px 0 0;
    padding: 100px 0;
    background: #272727;
}
.techs__name {
    font-family: 'Inter';
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.04em;
text-align: left;
padding-bottom: 23px;
border-bottom: 1px solid #fff;
margin: 0;
}
.techs__title {
    font-family: 'Inter';
font-size: 50px;
font-weight: 400;
line-height: 58px;
letter-spacing: -0.04em;
text-align: center;
margin: 90px 0 0;


}
.techs__subtitle {
    font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.04em;
text-align: center;
max-width: 460px;
margin: 26px auto 97px;
}
.techs__blocks {
    display: flex;
    justify-content: center;
}
.techs__block {
    background: #303030;
    max-width: 90px;
    width: 100%;
    height: 18px;
    padding: 21px 0 21px;
    border-radius: 10px;
    margin-right: 10px;
}
.techs__block:last-child {
    margin-right: 0;
}
.techs__text {
    font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: -0.04em;
text-align: center;
margin: 0;
}
@media screen and (max-width: 1260px) {
    .techs {
        margin-top: 112px;
    }
    .techs__subtitle {
      font-size: 12px;
      margin-bottom: 79px;
      margin-top: 20px;
    }
    .techs__title {
        margin: 80px 0 0;
    }
    .techs__text {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {
    .techs {
        margin-top: 90px;
        padding: 70px 0;
    }
    .techs__subtitle {
      font-size: 11px;
      margin-bottom: 46px;
      margin-top: 8px;
    }
    .techs__title {
        font-size: 30px;
        margin: 49px 0 0;
    }
    .techs__text {
        font-size: 12px;
    }
    .techs__name {
        font-size: 18px;
    }
    .techs__blocks {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: start;
        justify-content: start;
        margin: 0 auto;
        max-width: 178px;
        width: 100%;
    }
    .techs__block {
        margin-right: 0;
        max-width: 84px;
        width: 100%;
        height: 15px;
        padding: 21px 0;
    }
}